@import url('https://fonts.googleapis.com/css2?family=Teko&effect=shadow-multiple');

@font-face {
	src: url(fonts/Clash.ttf);
	font-family: clash;
}

@font-face {
	src: url(fonts/Ancoa.otf);
	font-family: anc;
}

body {
	background-image: url(images/clash.png);
	/* background-repeat: no-repeat; */
	/* background-size: 300% 300%; */
	/* url(images/logo.png), url(images/king.png), */
	/* background-position: center; */
	background-size: cover;
}

em {
	font-style: normal;
}

.login {
	font-family: clash;
	font-size: 28px;
	color: #ffd700;
	text-decoration: none;
	/* text-shadow: 1px 1px 1px rgb(231, 199, 16); */
	padding-left: 5px;
	/* border-radius: 50%; */
	user-select: none;
}

.login:hover {
	font-family: clash;
	font-size: 29px;
	color: #fdf913;
	text-decoration: none;
	/* text-shadow: 2px 2px 2px rgb(236, 222, 183); */
	padding-left: 5px;
	user-select: none;
	cursor: pointer;
}

.main {
	font-family: clash;
	font-size: 20px;
}

.overview {
	font-family: clash;
	font-size: 32px;
	color: #ffd700;
	text-decoration: none;
	padding-left: 5px;
}

.text {
	font-family: clash;
	font-size: 25px;
	color: #ffbb00;
	text-decoration: none;
	padding-left: 5px;
}
.small {
	font-family: clash;
	font-size: 15px;
	color: #eeff00;
	text-decoration: none;
	padding-left: 5px;
}

.title {
	font-family: clash;
	text-align: center;
	font-size: 60px;
}

.input {
	font-family: clash;
	font-size: 20px;
	color: #424242;
}

.scroll {
	overflow: auto;
	height: 200px;
	width: 650px;
}

.scroll::-webkit-scrollbar {
	width: 20px;
}

.scroll::-webkit-scrollbar-thumb {
	background: #ffd700;
	border-radius: 10px;
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: content-box;
	min-width: 32px;
	min-height: 32px;
}
.scroll::-webkit-scrollbar-thumb:hover {
	background: #fdf913;
	border-radius: 10px;
	border: 6px solid rgba(0, 0, 0, 0);
	min-width: 32px;
	min-height: 32px;
}

.confirm {
	width: 200;
	height: 100;
	visibility: hidden;
	position: absolute;
	left: 40%;
	top: 20%;
}

.confirmT {
	width: 200;
	height: 100;
	visibility: hidden;
	position: absolute;
	left: 40%;
	top: 20%;
}
.teamShow {
	overflow: auto;
	height: 600px;
	width: 600px;
}
/* .scroll::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(207, 207, 207);
	border-radius: 10px;
} */
